
<div id="header">
  <img src="../../wanders_logo.jpg" alt="not found" id="logo">

  <form id="address_input_form" method="POST" action"/geolocation">
    <input id="address_input" type="text" action="/" name="address" placeholder="Where do you want to explore?">
  </form>

  <%= erb :'_login'%>

  <div id="logout_form">
    <form name="logout" method="POST" action='/logout'>
      <button>Logout</button>
    </form>
  </div>
</div>