
<div id="image_container">
  <a class="slide_target" name="Avio_Collective"><img src="../../b1.jpg" alt="not found"  class="slides"></a>
  <a class="slide_target" name="Hello_Kitty"><img src="../../b2.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="333_Bar"><img src="../../b3.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="Ginto"><img src="../../b4.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="Blah"><img src="../../b5.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="Pier_1"><img src="../../b6.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="Thai_Food"><img src="../../b7.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="China_Town"><img src="../../b8.jpg" alt="not found" class="slides"></a>
  <a class="slide_target" name="blank"><img src="../../bottom.jpg" alt="not found" class="slides"></a>
</div>
