<div id="login_form">
  <form name="login" method='POST' action='/login' >
    <input type='text' name='username' placeholder='username'/>
    <input type='password' name='password' placeholder='password'/>
    <button class='active'>Login</button>
  </form>
</div>