
<div id="image_container">
  <img src="../../b1.jpg" alt="not found" class="slides">
  <img src="../../b2.jpg" alt="not found" class="slides">
  <img src="../../b3.jpg" alt="not found" class="slides">
  <img src="../../b4.jpg" alt="not found" class="slides">
  <img src="../../b5.jpg" alt="not found" class="slides">
  <img src="../../b6.jpg" alt="not found" class="slides">
  <img src="../../b7.jpg" alt="not found" class="slides">
</div>
