
<%= erb :'_img_container'%>
  <div id='map'>
    <a href='/' id='geolocate' class='ui-button'>FIND ME</a>

  </div>

  <div id="text_marker">
    <%= erb :'_textmsg'%>
    <ul id='marker-list'></ul>
  </div>
<%= erb :'_header'%>