<div id='error'>
  <button class="bold"> :( </button>
  <br/>Incorrect username or password.
  <br/>Try again or <a href="/create">signup!</a>
</div>

<div id='textsent'>
  <button class="bold"> :P </button>
  <br/>Locations have been sent to your phone!
  <br/>Have fun wandering town!
</div>

<div id='invalid_num'>
  <button class="bold"> :( </button>
  <br/>Please provide a 10-digit phone number!
  <br/>Try again!
</div>