<div id="textmsg">
  <form name="textmsg" method="POST" action="/textmsg">
    <button>TEXT ADDRESS</button>
    <input type="text" name="phone_num" placeholder="408-800-4200">
    <input type="hidden" name="message" value="Hello from Wanders!">
  </form>
</div>
